<div class="containerX">
  <div #lista class="messages">
    <div style="background-color: rgb(235, 233, 233);">
      <mat-list class="chat-messages">
        <mat-list-item *ngFor="let m of messages" [class.msg-from-me]="m.from === nickname">
          <h4 mat-line>  <strong> {{ m?.from }}</strong> </h4>  <br> <br>
          <p mat-line>
             {{ m?.message }}
          </p>
        </mat-list-item>

      </mat-list>
    </div>
    
  </div>

  <div class="chat">
      
      <mat-form-field >
        <input matInput placeholder="Nickname" [(ngModel)]="nickname" >
      </mat-form-field>      
      <mat-form-field >
        <input matInput placeholder="Message"  [(ngModel)]="message" (keyup.enter)="send()">
      </mat-form-field>      

      <button mat-button color="primary" (click)="send()">
        <mat-icon>send</mat-icon>
      </button>
    
</div>
